<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">

    <h3><strong>Nos observations</strong></h3>

  </nav>



  <ng-container *ngIf="login;else nonConnecte">
  <table class="table">
    <tr>
      <th>id</th>
      <th>Date de l'observation</th>
      <th>Nombre d'observations</th>
      <th>Description</th>
      <th>lieu</th>
      <th>animal</th>
      <th>utilisateur</th>
      <th></th>
      <th></th>
    </tr>
    <tr *ngFor="let o of observations">
      <td>{{o.id}}</td>
      <td>{{o.dateObservation}}</td>
      <td>{{o.nombreObservations}}</td>
      <td>{{o.description}}</td>
      <td><a class="text-info" [routerLink]="['/localisation','single',o.localisation.id]"
             routerLinkActive="active">
        {{o.localisation.localite}} - {{o.localisation.region}} - {{o.localisation.pays}}
      </a></td>
      <td><a class="text-info" [routerLink]="['/animal','single',o.animal.id]"
             routerLinkActive="active">
        {{o.animal.nomCourant}}
      </a></td>


     <!--  <td>{{o.user.pseudo}}</td> -->
      <td></td>

      <td><a class="btn btn-outline-info" [routerLink]="['/observation','edit',o.id]"
             routerLinkActive="active">Edition</a></td>
      <td>
        <button class="btn btn-outline-danger" (click)="delete(o.id)">Suppression</button>
      </td>
    </tr>
  </table>

    <br>
    <div><a class="btn btn-outline-info" [routerLink]="['/observation','edit']" routerLinkActive="active"><i
      class="fa fa-plus"></i> Ajouter une observation</a></div>
    <br>

  </ng-container>



  <ng-template #nonConnecte>
    <table class="table">
      <tr>
        <th>id</th>
        <th>Date de l'observation</th>
        <th>Nombre d'observations</th>
        <th>Description</th>
        <th>lieu</th>
        <th>animal</th>
        <th>utilisateur</th>
        <th></th>
        <th></th>
      </tr>
      <tr *ngFor="let o of observations">
        <td>{{o.id}}</td>
        <td>{{o.dateObservation}}</td>
        <td>{{o.nombreObservations}}</td>
        <td>{{o.description}}</td>
        <td><a class="text-info" [routerLink]="['/localisation','single',o.localisation.id]"
               routerLinkActive="active">
          {{o.localisation.localite}} - {{o.localisation.region}} - {{o.localisation.pays}}
        </a></td>
        <td><a class="text-info" [routerLink]="['/animal','single',o.animal.id]"
               routerLinkActive="active">
          {{o.animal.nomCourant}}
        </a></td>


        <!--  <td>{{o.user.pseudo}}</td> -->
        <td></td>
      </tr>
    </table>
  </ng-template>



</div>
