<!-- Fixed navbar -->
<div class="navbar navbar-inverse navbar-fixed-top headroom">
  <div class="container">
    <div class="navbar-header" >
      <!-- Button for smallest screens -->
      <style>img {
        width: 10%;
        height: 10%;
        object-fit: contain;
      } </style>
      <a class="navbar-brand" [routerLink]="['']"><img src="assets/images/logo_leaf.png"
                                                       alt="Progressus HTML5 template"><strong> SmartFaune </strong></a>

    </div>

    <style>
      a {
        color: lightgreen;
        background-color: transparent;
        text-decoration: none;
      }
    </style>
      <style>
      button {
        color: lightgreen;
        background-color: transparent;
        text-decoration: none;
      }
      </style>

    <ng-container *ngIf="login;else nonConnecte">
      <nav class="navbar navbar-expand navbar-dark" >

        <li><a [routerLink]="['']" routerLinkActive="active">Accueil</a></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <li>
          <a [routerLink]="['/users']" routerLinkActive="active">Utilisateurs</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </li>
        <li>
          <a [routerLink]="['/animal']" routerLinkActive="active">Especes</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </li>
        <li>
          <a [routerLink]="['/observation']" routerLinkActive="active">Observations</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </li>
        <li>
          <a [routerLink]="['/about']" routerLinkActive="active">A propos de nous</a></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <li>
          <a [routerLink]="['/contact']" routerLinkActive="active">Contact</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </li>

        <li>
        <button class="btn btn-link" (click)="logout()">Deconnexion</button>
        </li>


      </nav>
    </ng-container>
    <ng-template #nonConnecte>
      <nav class="navbar navbar-expand navbar-dark">
        <li><a [routerLink]="['']" routerLinkActive="active">Accueil</a></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <li>
          <a [routerLink]="['/users']" routerLinkActive="active">Utilisateurs</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </li>
        <li>
          <a [routerLink]="['/animal']" routerLinkActive="active">Especes</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </li>
        <li>
          <a [routerLink]="['/observation']" routerLinkActive="active">Observations</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </li>
        <li>
          <a [routerLink]="['/about']" routerLinkActive="active">A propos de nous</a></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <li>
          <a [routerLink]="['/contact']" routerLinkActive="active">Contact</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </li>

        <li>
          <a [routerLink]="['/login']" routerLinkActive="active">Connexion</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </li>
        <li>
          <a [routerLink]="['/inscription']" routerLinkActive="active">S'inscrire</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </li>

      </nav>
    </ng-template>
  </div>
</div>
<!-- /.navbar -->
