<div class="container">

  <h2 class="text-center top-space">Questions fréquentes</h2>
  <br>

  <div class="row">
    <div class="col-sm-6">
      <h3>Comment déposer une observation ?</h3>
      <p>Il suffit de t'inscrire sur notre site, connecte toi puis va dans la rubrique 'Observations'.
        Tu pourras ajouter une observation.</p>
    </div>
    <div class="col-sm-6">
      <h3>Lorsque je dépose une observation je ne peux pas créer moi même l'animal ? </h3>
      <p> En effet, afin d'éviter tout animal loufoque et imaginaire seuls les administrateurs peuvent créer des animaux.
      Néanmoins rassure toi tu peux choisir parmit le panel déjà existant.</p>
    </div>
  </div> <!-- /row -->

  <div class="row">
    <div class="col-sm-6">
      <h3>Comment trouver des animaux près de chez moi ?</h3>
      <p> Le module est en cours de développement, encore un peu de patience :)
      </p>
    </div>
    <div class="col-sm-6">
      <h3>Ce site est super ! Comment vous aider ?</h3>
      <p>Nous recrutons ! N'hésite pas à regarder en bas de page pour les informations de contact.</p>
    </div>
  </div> <!-- /row -->

  <div class="jumbotron top-space">
    <h4>Ce site est totalement gratuit et à but non lucratif. Promouvons tous ensemble la science !
    Venez découvrir l'origine de notre projet !</h4>
    <p class="text-right" [routerLink]="['/about']" ><a class="btn btn-primary btn-large">Découvrez nous</a></p>
  </div>

</div>
