<div class="container">

  <h2 class="text-center top-space">Questions fréquentes</h2>
  <br>

  <div class="row">
    <div class="col-sm-6">
      <h3>question 1 ???</h3>
      <p>REponse 1</p>
    </div>
    <div class="col-sm-6">
      <h3>question2?</h3>
      <p>
       Reponse 2</p>
    </div>
  </div> <!-- /row -->

  <div class="row">
    <div class="col-sm-6">
      <h3>Question 3</h3>
      <p>
        Reponse 3
      </p>
    </div>
    <div class="col-sm-6">
      <h3>Question 4</h3>
      <p>Reponse 4</p>
    </div>
  </div> <!-- /row -->

  <div class="jumbotron top-space">
    <h4>Blabla moralisateur, need thunes pliz, TODO, learn more doit renvoyer qqpart</h4>
    <p class="text-right"><a class="btn btn-primary btn-large">Learn more »</a></p>
  </div>

</div>
