<!-- container -->
<div class="container">

  <ol class="breadcrumb">
    <a [routerLink]="['/home']" routerLinkActive="active">Home</a> &nbsp;-&nbsp;
    <a [routerLink]="['/users']" routerLinkActive="active"> Liste des utilisateurs </a> &nbsp;-&nbsp;


  </ol>
  <br><br>

  <div>


    Cet utilisateur a un pseudo de {{user.pseudo}},
    un prenom de {{user.prenom}},
    image: ????? <img height="100" [src]="getImage(user) | async">
    nom: {{user.nom}}

    <br><br><br>
    Voici ses observations: IMPLEMENTER FONCTION de recherche obs par user
    <div>
    </div>
  </div>
</div>
