
<footer id="footer" class="top-space">
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="footer1">
    <div class="container">
      <div class="row">

        <div class="col-md-3 widget">
          <h3 class="widget-title">Contact</h3>
          <div class="widget-body">
            <p>06 73 73 73 73<br>
              <a href="mailto:#">sciencesparticipatives.email@hotmail.com</a><br>
              <br>
              Sciences Participatives - AJC Formation, Paris , FRANCE
            </p>
          </div>
        </div>

        <div class="col-md-3 widget">
          <h3 class="widget-title">Suivez nous</h3>
          <div class="widget-body">
            <p class="follow-me-icons">
              <a href="https://twitter.com/Sciences_Avenir?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><i class="fa fa-twitter fa-2"></i></a>
              <a href="https://dribbble.com/tags/science"><i class="fa fa-dribbble fa-2"></i></a>
              <a href="https://github.com/showcases/science"><i class="fa fa-github fa-2"></i></a>
              <a href="https://fr-fr.facebook.com/sciencesetavenir/"><i class="fa fa-facebook fa-2"></i></a>
            </p>
          </div>
        </div>

        <div class="col-md-6 widget">
          <h3 class="widget-title">Notre mot de la fin</h3>
          <div class="widget-body">
            <p>Ce site est à but non lucratif et prône le partage des connaissances entre individus</p>
            <p>Nous acceptons les dons afin de nous soutenir dans notre projet</p>
          </div>
        </div>

      </div> <!-- /row of widgets -->
    </div>
  </div>

  <div class="footer2">
    <div class="container">
      <div class="row">

        <div class="col-md-6 widget">
          <div class="widget-body">
            <p class="simplenav">
              <a [routerLink]="['/home']" routerLinkActive="active">Home </a> |
              <a [routerLink]="['/about']" routerLinkActive="active">About us </a> |
              <a [routerLink]="['/contact']" routerLinkActive="active">Contact </a> |
              <b><a href="signup.html">Sign up</a></b>
            </p>
          </div>
        </div>

        <div class="col-md-6 widget">
          <div class="widget-body">
            <p class="text-right">
              Copyright &copy; 2020, Equipe de Sciences Participatives.
            </p>
          </div>
        </div>

      </div> <!-- /row of widgets -->
    </div>
  </div>

</footer>
