<div class="container">

  <ol class="breadcrumb">
    <li><a [routerLink]="['/home']" routerLinkActive="active">Home </a></li>

  </ol>
  <br>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">

    <h3><strong>Nos Utilisateurs</strong></h3>

  </nav>
  <br>

  <ng-container *ngIf="login;else nonConnecte">
    <h3>Bonjour {{login}} !</h3>
    <table class="table">
      <tr>
        <th>id</th>
        <th>Pseudo</th>
        <th>Prenom</th>
        <th>Nom</th>
        <th>Photo de profil</th>
        <th></th>
        <th></th>
      </tr>
      <tr *ngFor="let u of users">
        <td>{{u.id}}</td>
        <td><a class="text-info" [routerLink]="['/users','single',u.id]"
               routerLinkActive="active"> {{u.pseudo}}</a></td>
        <td>{{u.prenom}}</td>
        <td>{{u.nom}}</td>
        <td><img height="100" [src]="getImage(u) | async" ></td>

        <td><a class="btn btn-outline-info" [routerLink]="['/users','edit',u.id]" routerLinkActive="active">Edition</a>
        </td>
        <td>
          <button class="btn btn-outline-danger" (click)="delete(u.id)">Suppression</button>
        </td>
      </tr>
    </table>
 <!--   <div><a class="btn btn-outline-info" [routerLink]="['/users','edit']" routerLinkActive="active"><i
      class="fa fa-plus"></i> Ajouter un utilisateur</a></div> -->
  </ng-container>
  <ng-template #nonConnecte>
    <table class="table">
      <tr>
        <th>id</th>
        <th>Pseudo</th>
        <th>Photo de profil</th>
        <th></th>
        <th></th>
      </tr>
      <tr *ngFor="let u of users">
        <td>{{u.id}}</td>
        <td>{{u.pseudo}}</td>
        <td>{{u.imageProfil}}</td>

      </tr>
    </table>
  </ng-template>
</div>
