<div class="jumbotron top-space">
  <div class="container">

    <h2 class="text-center thin">Catégories </h2>

    <div class="row">

      <div class="col-md-3 col-sm-6 highlight">

        <div class="h-caption"><h3>
          <a routerLink="animal"><img src="assets/images/ecureuil.jpg" width="450" height="200">Nos animaux</a>
        </h3></div>
      </div>
      <div class="col-md-3 col-sm-6 highlight">
        <div class="h-caption"><h3>
          <a routerLink="observation"><img src="assets/images/observation.jpg" width="450" height="200">Observations animales</a>
        </h3></div>

      </div>
      <div class="col-md-3 col-sm-6 highlight">
        <div class="h-caption"><h3>
          <a routerLink="localisation"><img src="assets/images/lieux.jpg" width="450" height="200">Ou les trouver ?</a>
        </h3></div>

      </div>
      <div class="col-md-3 col-sm-6 highlight">
        <div class="h-caption"><h3>
          <img src="assets/images/mission.jpg" width="450" height="200">Trouver une mission</h3><h4> -- En cours de développement --</h4>
        </div>
      </div>
    </div> <!-- /row  -->

  </div>
</div>
