<div class="container">
  <h2>Inscription</h2>
  <div *ngIf="erreur" class="alert alert-danger">Données incorrectes</div>
  <form (ngSubmit)="save()" [formGroup]="inscriptionForm">
    <div class="form-group">
      <label>Login:</label>
      <input [(ngModel)]="login.login" class="form-control" formControlName="login">
      <div *ngIf="loginCtrl.dirty&&loginCtrl.hasError('required')" class="alert alert-danger">
        Login requis
      </div>
      <div *ngIf="loginCtrl.dirty&&loginCtrl.hasError('notAvailable')" class="alert alert-danger">
        Login déjà utilisé
      </div>
    </div>
    <div class="form-group">
      <label>mot de passe:</label>
      <input [(ngModel)]="login.password" class="form-control" formControlName="password">
      <div *ngIf="passwordCtrl.dirty&&passwordCtrl.hasError('required')" class="alert alert-danger">
        Mot de passe requis
      </div>
      <div *ngIf="passwordCtrl.dirty&&passwordCtrl.hasError('minlength')" class="alert alert-danger">
        Minimum 6 caractères
      </div>
    </div>
    <div class="form-group">
      <label>Confirmer votre mot de passe:</label>
      <input class="form-control" formControlName="confirmation" >
      <div *ngIf="confirmationCtrl.dirty&&confirmationCtrl.hasError('required')" class="alert alert-danger">
        Confirmation obligatoire
      </div>
      <div *ngIf="confirmationCtrl.dirty&&inscriptionForm.hasError('mustMatch')" class="alert alert-danger">
        Les mots de passe ne sont pas identiques
      </div>
    </div>
    <div>
      <button type="submit" class="btn btn-outline-success"
              [disabled]="inscriptionForm.invalid">Enregistrer
      </button>
      <a [routerLink]="['/home']" routerLinkActive="active" class="btn btn-outline-warning">Annuler</a>
    </div>
  </form>
</div>

