<div class="container text-center">
  <br> <br>
  <h2 class="thin">Un site Web dédié à l'observation d'animaux dans leur habitat naturel</h2>
  <br><br>
  <h3 class="text-muted" align="left">
    <ol>

    <li>Venez consulter les observations animales de nos utilisateurs! </li><br>
   <li>Un module de recherche des animaux en fonction de votre localisation et de leur espèce
    sera disponible en début de demaine prochaine. Ainsi que des missions de recherche adaptées.</li><br>
    <li>Toutes les observations effectuées par d'autres passionnés sont disponibles pour les membres enregistrés.</li><br>
    <li>N'hésitez pas à partager vos propres observations.</li>
    </ol>
  </h3>
</div>
