<!-- container -->
<div class="container">

  <ol class="breadcrumb">
    <li><a [routerLink]="['/home']" routerLinkActive="active">Home </a> </li>
    <li>, Lieux </li>
  </ol>
</div>

<table class="table">
  <tr>
    <th>id</th>
    <th>Pays</th>
    <th>Region</th>
    <th>Localite</th>
    <th></th>
    <th></th>
  </tr>
  <tr *ngFor="let l of lieux">
    <td>{{l.id}}</td>
    <td>{{l.pays}}</td>
    <td>{{l.region}}</td>
    <td>{{l.localite}}</td>

    <td><a class="btn btn-outline-info" [routerLink]="['/lieux','edit',l.id]" routerLinkActive="active">Edition</a></td>
    <td><button class="btn btn-outline-danger" (click)="delete(l.id)">Suppression</button></td>
  </tr>
</table>



