<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="Sergey Pozhilov (GetTemplate.com)">

  <title>Progressus - Free business bootstrap template by GetTemplate</title>





</head>

<body class="home">

<!-- Nav-bar  NO NEED, deja dans le app.html, sinon nav bar absente des autres pages
<app-nav-bar></app-nav-bar>-->
<!-- Header -->
<app-header></app-header>


<!-- Intro -->
<app-intro></app-intro>
<!-- /Intro-->

<!-- Highlights - jumbotron
Contient lien vers observations / animaux / lieux
-->
<app-highlights-jumbotron></app-highlights-jumbotron>

<!-- container -->
<app-container></app-container>
  <!-- /container -->

<!-- Social links. @TODO: replace by link/instructions in template -->
<app-social-links></app-social-links>
<!-- /social links -->

<!-- footer -->
<app-footer></app-footer>


</body>
